<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Profesor Asignaturas')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>	
			<div><h3 class="text-center mt-4" th:text="'Asignaturas de ' + ${namepro}"></h3></div>
			<div class="row mt-4 mb-4"></div>
			<div class="col-8">
				<table class="table table-stripped table-hover">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Creditos</th>
						<th>Tipo</th>
						<th>Curso</th>
						<th>Cuatrimestre</th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="a:${profesor.getAsignaturas()}">
					 	<td th:text="${a.getId()}"></td>
					 	<td th:text="${a.getNombre()}"></td>
					 	<td th:text="${a.getCreditos()}"></td>
					 	<td th:text="${a.getTipo()}"></td>
					 	<td th:text="${a.getCurso()}"></td>
					 	<td th:text="${a.getCuatrimestre()}"></td>
					 </tr>			
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>