<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Profesores')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>	
			<div><h3 class="text-center mt-4">Profesores de la Universidad</h3></div>
			<div class="text-danger" th:text="${error}"></div>
			<div class="col-8">
				<table class="table table-stripped table-hover">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>Nif</th>
							<th>Nombre</th>
							<th>Apellido1</th>
							<th>Departamento</th>
							<th></th>
						</tr>
					</thead>					
					<tbody>
					 <tr th:each="p:${profesoress}">
					 	<td th:text="${p.getId()}"></td>
					 	<td th:text="${p.getNif()}"></td>
					 	<td th:text="${p.getNombre()}"></td>
					 	<td th:text="${p.getApellido1()}"></td>
					 	<td th:text="${p.getDepartamento().nombre}"></td>
						<td><a th:href="@{'/profesores/asignaturas?codigo='+${p.getId()}}"><i class="bi bi-eye-fill"></i></a></td>
					 </tr>				
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>