<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Add Subject')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-6">
				<form th:action="@{/grados/addasignatura}" method="post" th:object="${grdto}">
					<div class="form-group">
						<label for="asignatura" class="form-label mt-3" th:text="Asignaturas"></label> 
						<select class="form-select" name="asignatura" th:field="*{idAsignatura}">
							<option th:each="a : ${asignaturas}" th:value="${a.id}" th:text="${a.nombre}" />
						</select>	
					</div>
					<div class="form-group">
						<label for="grado" class="form-label mt-3" th:text="Grados"></label> 
						<select class="form-select" name="asignatura" th:field="*{idGrado}">
							<option th:each="g : ${grados}" th:text="${g.nombre}" th:value="${g.id}"/>
						</select>	
					</div>
				<input type="submit" class="btn btn-primary w-100 mt-3" value="AÑADIR" />	
				</form>
			</div>
		</div>
	</div>
</body>
</html>